<%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Work+Sans', media: 'all', 'data-turbolinks-track' => true %>

<!-- <div class="container-fluid"> -->
  

<%= render 'layouts/navbar' %>



    <div class='blurred-container'>
         
        <div class="motto">
          <div class="logo-container">
                <div class="main-logo">
                    <%= image_tag("soundtracks-cinema-logo.png") %>
                </div>
          <!-- <h3 class="motivation main-logo">Jobs for Composers</h3> -->
          </div>
            
        </div>
      <div class="img-src" style="background-image: url('<%= asset_path("recording-studio.jpg") %>')"></div>
      <div class='img-src blur' style="background-image: url('<%= asset_path("recording-studio-blur.jpg") %>')"></div>
    </div>





<div class="main">
  <div class="row heading">
        <div class="tim-title">
            <h1 class="text-center text-uppercase">Jobs For Composers</h1>
        </div>
  </div>
    
      <div class="container tim-container">
        
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <!--
              <div class="form-group">
                <input type="text" value="" placeholder="Search for Job" class="form-control" />
              </div>
            -->


              
<div class="row search">
<%= form_tag(jobs_path, :method => "get", id: "search-form" ) do %>
<%= text_field_tag :search, params[:search], placeholder: "Search for Job", :class => "form-control" %>
<!-- <%= submit_tag "Search" %> -->
<% end %>

</div>



              </div>
            <div class="col-sm-4"></div>
        </div>
         

       

<!--
        <div class="placeholder">
            <img class="text-center" src="http://placekitten.com/400/800">
        </div>
-->









 
    <div class="row-fluid listings">
      
     
      <div class="col-md-2"></div>
      <div class="col-md-5 jobs">
         
        
          
          <%= render 'listings' %>


     
      </div>
<!--
    <div class="col-md-3 box">
      <h2>ABOUT</h2>
      Soundtracks.io is a free jobs board for Film, TV, and Game composers.

      <h2>ADD A JOB</h2>
      Send an email to info@soundtrack.io or a tweet to <a class="a-normal" href="https://twitter.com/soundtracks_io">@soundtracks_io</a> with some of the following details: <br>
      <ol>
        <li>Title of Job </li>
        <li>Company/Project/Client</li>
        <li>Brief details </li>
        <li>URL (if exists)</li>
        <li>Contact details
      </ol>
    
      If you would like to use a tweet as a job posting simply mention in your tweet to @soundtracks_io that you'd like a retweet!
      
      <div>

      -->

       <div class="col-md-3 tweets">



        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">A fascinating look through the home/studio of Harry Gregson-Williams<a href="https://t.co/vY9K1e9TVD">https://t.co/vY9K1e9TVD</a><a href="https://twitter.com/hashtag/soundtracks?src=hash">#soundtracks</a> <a href="https://twitter.com/hashtag/composers?src=hash">#composers</a> <a href="https://twitter.com/hashtag/filmmusic?src=hash">#filmmusic</a></p>&mdash; Soundtracks.io (@soundtracks_io) <a href="https://twitter.com/soundtracks_io/status/710110245247434752">March 16, 2016</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This is playing constantly on our headphones at the moment<a href="https://t.co/qoqSTAER5b">https://t.co/qoqSTAER5b</a><br>Incredible production. Moving music by <a href="https://twitter.com/AWVFTS">@AWVFTS</a></p>&mdash; Soundtracks.io (@soundtracks_io) <a href="https://twitter.com/soundtracks_io/status/705734244820238336">March 4, 2016</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        <blockquote class="twitter-tweet" data-lang="en"><p lang="is" dir="ltr"><a href="https://twitter.com/hashtag/Sicario?src=hash">#Sicario</a> composer jóhann jóhannsson is the next big thing in film music.<a href="https://t.co/Fl7T4ounKR">https://t.co/Fl7T4ounKR</a><a href="https://twitter.com/JohannJohannss">@JohannJohannss</a> <a href="https://t.co/COXQgb8hHY">pic.twitter.com/COXQgb8hHY</a></p>&mdash; Soundtracks.io (@soundtracks_io) <a href="https://twitter.com/soundtracks_io/status/705135996447399936">March 2, 2016</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


      </div>

      <div class="col-md-2"></div>
    </div>

</div>

<!--
<%= render 'layouts/footer' %>


</div>


