<!DOCTYPE html>
<html>
<head>
  <title>Soundtracks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag "/assets/javascripts/uilang.js" %>
 <script src="/assets/javascripts/uilang.js"></script>
 <%= javascript_include_tag :defaults %>
</head>
<body>

<%= yield %>

</body>
</html>
